In [2]:
# Tuple is collection of immutable heterogeneous python objects.

## Creating tuples

In [3]:
emp=()
print(type(emp))

<class 'tuple'>

In [4]:
print(emp)

()

In [5]:
city="Pune",

In [6]:
type(city)

tuple

In [7]:
city=("Pune")
city

'Pune'

In [8]:
city=("Pune",)
city

('Pune',)

In [11]:
city=("Pune","Bangalore","Mumbai")
city

('Pune', 'Bangalore', 'Mumbai')

In [9]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [10]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
print(city)

('Pune', 'Bangalore', 'Mumbai')

In [13]:
city[1]

'Bangalore'

In [14]:
city[-1]

'Mumbai'

## Concantenation

In [15]:
print(city)

('Pune', 'Bangalore', 'Mumbai')

In [16]:
num=1,2,3,4

In [17]:
print(city+num)

('Pune', 'Bangalore', 'Mumbai', 1, 2, 3, 4)

## Nesting

In [19]:
nest=(city,num)

In [20]:
print(nest)

(('Pune', 'Bangalore', 'Mumbai'), (1, 2, 3, 4))

## Repetition

In [21]:
rep=("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [22]:
rep=("Python",)
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [23]:
rep

('Python',)

## Slicing

In [24]:
num

(1, 2, 3, 4)

In [25]:
num[1:]

(2, 3, 4)

In [26]:
num[::-1]

(4, 3, 2, 1)

## Unpacking

In [27]:
tuple("Learn")

('L', 'e', 'a', 'r', 'n')

In [28]:
print(num)

(1, 2, 3, 4)

In [29]:
a,b,c,d=num

In [30]:
print(a,b,c,d)

1 2 3 4

In [31]:
a,*b,c=num #Because every element between went into list
print(a,b,c)

1 [2, 3] 4

## Deleting a tuple

In [32]:
tuple1=(1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [33]:
del tuple1

In [34]:
print(tuple1)

NameError: name 'tuple1' is not defined

## Built in Functions

In [37]:
num1=(2,4,7,7,1,7,8,9,5)

In [38]:
num1.count(7)

3

In [39]:
sum(num1)

50

In [40]:
len(num1)

9

In [41]:
max(num1)

9

In [42]:
min(num1)

1

## Converting list to tuple

In [43]:
lst=[1,2,3,4]
print(type(lst))

<class 'list'>

In [44]:
tpl=tuple(lst)

In [45]:
print(tpl)

(1, 2, 3, 4)

In [46]:
type(tpl)

tuple

## Nesting Tuples in a list

In [47]:
lst=[(1,2,3),(4,5,6)]

In [48]:
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [49]:
lst.append(("tuple","inside","list"))

In [50]:
print(lst)

[(1, 2, 3), (4, 5, 6), ('tuple', 'inside', 'list')]

In [51]:
lst.remove((1,2,3))

In [52]:
print(lst)

[(4, 5, 6), ('tuple', 'inside', 'list')]

## Nesting lists within tuples

In [53]:
tpl=(['a','b','c'],['d','e','f'])

In [54]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [55]:
tpl[0].append('z')

In [56]:
print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [57]:
tpl[0].remove('z')

In [58]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])